<%= form_for(:user, url: login_path) do |f| %>

    <%= f.label "Username:" %><br>
    <%= f.text_field :username %><br><br>

    <%= f.label "Password:" %><br>
    <%= f.password_field :password %><br><br>

    <%= f.submit "Log In" %>

<% end %>

<br><br><h3 class="third_party_login_links">Log in with<br><%= link_to('Facebook', '/auth/facebook/', method: 'post') %> | <%= link_to('GitHub', '/auth/github/', method: 'post') %> | <%= link_to('Google', '/auth/google_oauth2/', method: 'post') %></h3>
