<% if !@movie.Title.blank? && @movie.Title != "N/A" %>
    <h1 class='movie_index_and_show_page'><%= @movie.Title %></h1>
<% end %>
<% if !@movie.Poster.blank? && @movie.Poster != "N/A" %>
    <div id='movie_poster'><%= image_tag(@movie.Poster.gsub('m.media-', ""), alt: 'Movie Poster Image') %></div
<% end %>
<% if !@movie.Rated.blank? && @movie.Rated != "N/A" %>
    <p>Rated: <%= @movie.Rated %></p>
<% end %>
<% if !@movie.Released.blank? && @movie.Released != "N/A" %>
    <p>Released: <%= Time.strptime("#{@movie.Released}", "%d %b %Y").strftime("%B %d, %Y") %></p>
<% end %>
<% if !@movie.Runtime.blank? && @movie.Runtime != "N/A" %>
    <p>Runtime: <%= @movie.Runtime.gsub("min", "minutes") %></p>
<% end %>
<% if !@movie.Genre.blank? && @movie.Genre != "N/A" %>
    <p>Genre: <%= @movie.Genre %></p>
<% end %>
<% if !@movie.Director.blank? && @movie.Director != "N/A" %>
    <p>Director: <%= @movie.Director %></p>
<% end %>
<% if !@movie.Writer.blank? && @movie.Writer != "N/A" %>
    <p>Writer: <%= @movie.Writer %></p>
<% end %>
<% if !@movie.Actors.blank? && @movie.Actors != "N/A" %>
    <p>Actors/Actresses: <%= @movie.Actors %></p>
<% end %>
<% if !@movie.Plot.blank? && @movie.Plot != "N/A" %>
    <p>Plot: <%= @movie.Plot %></p>
<% end %>
<% if !@movie.Awards.blank? && @movie.Awards != "N/A" %>
    <p>Awards: <%= @movie.Awards %></p>
<% end %>
<% if !@movie.Ratings.blank? && @movie.Ratings != "N/A" %>
    <p>Ratings: <%= @movie.Ratings.gsub("}", "").gsub("[", "").gsub("]", "").gsub("\{\"Source\"=>\"", "").gsub("\"\, \"Value\"=>\"", " - ").gsub("\"", "") %>
<% end %>
<% if !@movie.BoxOffice.blank? && @movie.BoxOffice != "N/A" %>
    <p>Box Office Revenue: <%= @movie.BoxOffice %></p>
<% end %>
<% if !@movie.Production.blank? && @movie.Production != "N/A" %>
    <p>Production Company: <%= @movie.Production %></p>
<% end %>
<% if !@movie.imdbID.blank? && @movie.imdbID != "N/A" %>
    <p>Imdb Movie Link: <a href="<%=@movie.imdbID.gsub("tt", "https://www.imdb.com/title/tt")%>" target="_blank"> Click here to see more information about this movie</a></p>
<% end %>