<%= render partial: 'movies/movie' %>
<br><br>

<br>
<h1>Disney Watchlist App Movie Reviews</h1>

<%= render(@reviews) || "There are no reviews for this movie yet." "<br><br>".html_safe %> 

<br><br><h3>Create a New Review for This Movie</h3><br>

<%= form_for :review, url: movie_reviews_path(@movie) do |f| %> 

    <%= render partial: 'reviews/form', locals: {f: f} %>
    
    <%= f.hidden_field :movie_id, value: @movie.id %>
    <%= f.submit "Submit Review" %>
  <% end %>
<br><br>

<br><h2 class="search_movie_link"><%= link_to "Search for Another Movie", movies_path %></h2><br>

<% if current_user.watchlists.any? %>
<h3>Add this Movie to a Watchlist</h3>
<%= form_for :watchlist, url: watchlist_path, method: 'patch' do |form| %>
    <%= form.collection_select :watchlist_id, watchlists_by_user, :id, :category_type, prompt: "Choose from an Existing Watchlist"  %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :movie_id, value: @movie.id %>
    <%= form.submit "Add Movie to Watchlist" %>
<% end %><br>
<h3>Or Create a New Watchlist for this Movie</h3>

<%= render partial: 'watchlists/movie_watchlist_form' %>

<% else %>
<h3>Create a Watchlist for this Movie</h3>

<%= render partial: 'watchlists/movie_watchlist_form' %>

<% end %>
