<%= movie_title %><br>
<%= movie_poster %>
<%= movie_rated %>
<%= movie_released %>
<%= movie_runtime %>
<%= movie_genre %>
<%= movie_director %>
<%= movie_writer %>
<%= movie_actors %>
<%= movie_plot %>
<%= movie_awards %>
<%= movie_ratings %>
<%= movie_boxoffice %>
<%= movie_production %>
<%= movie_imdbID %>
<br><br>

<br>
<h1>Disney Watchlist App Movie Reviews</h1>
<%= render(@reviews) || "There are no reviews for this movie yet." "<br><br><br>".html_safe %> 

<br><h3>Create a New Review for This Movie</h3><br>

<%= form_for :review, url: movie_reviews_path(@movie) do |f| %> 

    <%= render partial: 'reviews/form', locals: {movie_review: f} %>
    
    <%= f.hidden_field :movie_id, value: @movie.id %>
    <%= f.submit "Submit Review" %>
  <% end %>
<br><br>

<br><h2 class="search_movie_link"><%= link_to "Search for Another Movie", movies_path %></h2><br>

<% if current_user.watchlists.any? %>
<h3>Add this Movie to a Watchlist</h3>
<%= form_for :watchlist, url: watchlist_path, method: 'patch' do |form| %>
    <%= form.collection_select :watchlist_id, watchlists_by_user, :id, :category_type, prompt: "Choose from an Existing Watchlist"  %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :movie_id, value: @movie.id %>
    <%= form.submit "Add Movie to Watchlist" %>
<% end %><br>
<h3>Or Create a New Watchlist for this Movie</h3>
<%= form_for :watchlist, url: watchlists_path do |form| %>
    <%= form.text_field :category_type, placeholder: "Name your Watchlist" %><br>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :movie_id, value: @movie.id %>
    <%= form.submit "Add Movie to Watchlist" %>
<% end %>
<% else %>
<h3>Create a Watchlist for this Movie</h3>
<%= form_for :watchlist, url: watchlists_path do |form| %>
    <%= form.text_field :category_type, placeholder: "Name your Watchlist" %><br>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :movie_id, value: @movie.id %>
    <%= form.submit "Add Movie to Watchlist" %>
<% end %>
<% end %>

