<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> must be corrected before your account can be updated:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %><br>

<h2>Only update the information you wish you change.</h2>

<%= form_for(@user) do |f| %>

    <%= f.label :first_name, "First Name:" %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name, "Last Name:" %>
    <%= f.text_field :last_name %>

    <%= f.label :username, "Username:" %>
    <%= f.text_field :username %>

    <%= f.label :email, "Email:" %>
    <%= f.email_field :email %>

    <%= f.label :password, "Password:" %>
    <%= f.password_field :password, placeholder: "Type in a new password or your current password if you do not wish to change it at this time." %>

    <%= f.submit "Edit Information" %>

<% end %><br>

<div id="delete_button"><%= button_to "Delete Account", user_path(current_user), method: 'delete', data: {confirm: "Are you sure you want to delete your account #{@user.first_name}?"} %></div>
