<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> must be corrected before your account can be created:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %><br>

<%= form_for(@user, url: signup_path) do |f| %>

    <%= render partial: 'users/form', locals: {user: f} %> 
    
    <%= f.submit "Sign Up" %>
<% end %>

<br><br><h3 class="third_party_login_links"><%= link_to "If you would like to log in with Facebook, GitHub, or Google, please click here!", login_path %></h3>
