<% if logged_in? %>

<h1>Welcome, <%= users_name %>!</h1><br><br>

<h1 id="show_page">Movie Suggestions</h1><br><br>
<div id="movie_suggestions">
<span>
<h2>High Box Office Gross</h2>
<% @movie_highest_box_office_gross = Movie.highest_box_office_gross %>
<%= link_to image_tag(@movie_highest_box_office_gross.Poster.gsub('m.media-', ""), alt: 'Movie Poster Image'), movie_path(@movie_highest_box_office_gross.id) %>
</span>
<span>
<h2>Highly Rated on App</h2>
<% @movie_highest_app_rating = Movie.highest_app_rating %>
<%= link_to image_tag(@movie_highest_app_rating.Poster.gsub('m.media-', ""), alt: 'Movie Poster Image'), movie_path(@movie_highest_app_rating.id) %>
</span>
<span>
<h2>Highly Rated on IMDb</h2>
<% @movie_highest_imdb_rating = Movie.highest_imdb_rating %>
<%= link_to image_tag(@movie_highest_imdb_rating.Poster.gsub('m.media-', ""), alt: 'Movie Poster Image'), movie_path(@movie_highest_imdb_rating.id) %>
</span>
<span>
<h2>Random Pick</h2>
<% @movie_random_pick = Movie.random_pick %>
<%= link_to image_tag(@movie_random_pick.Poster.gsub('m.media-', ""), alt: 'Movie Poster Image'), movie_path(@movie_random_pick.id) %>
</span>
</div>

<% else %>

<h1>Welcome to the Disney Movie Watchlist!</h1>
<p id="link">Please <%= link_to "Sign Up", signup_path %> or <%= link_to "Login", login_path %> to experience the app. This app 
allows you to browse Disney movies or choose any other movies that you'd like to add to a watchlist. You get to decide 
the categories for your watchlists and add however many movies you'd like. You can also review movies to help 
other users decide what movies they'd like to see next. You'll recieve recommended movies that you can add to your 
own watchlists if you'd like. I hope you like the app! Enjoy browsing all the great Disney selections!</p>

<% end %>