<% if @review && @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> must be corrected before your review can be updated:</h2>

    <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="review_edit_page">
<h2>Edit Your Review For</h2>
<h2><%= @review.movie.Title %></h2>
</div>
<br><br>

<%= form_with model: @review, method: 'patch' do |f| %>

    <%= render partial: 'form', locals: {f: f} %>
    
    <%= f.hidden_field :movie_id, value: @review.movie_id %>
    <%= f.submit "Update Review" %>
<% end %>
