<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> must be corrected before your review can be saved:</h2>

    <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="review_new_page">
<h2>Create a New Review</h2>
</div>
<br>

<% if current_user.movies.any? %>

<%= form_with model: @review, method: 'post' do |f| %>
  
  <h3><%= f.label "Pick from your current list of movies:" %></h3>
  <%= f.collection_select :id, movies_by_user, :id, :Title, prompt: "Select a Movie" %>

  <h3><%= f.label "Or choose from a list of movies:" %></h3>
  <%= f.select "movie_id", options_for_select(movies_for_review.map { |obj| [obj[:Title], obj[:id]] }), prompt: "Select a Movie" %>
  
  <br><br><%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Submit Review" %>
<% end %>

<% else %>

<%= form_with model: @review, method: 'post' do |f| %>

  <h3><%= f.label "Choose from a list of movies:" %></h3>
  <%= f.select "movie_id", options_for_select(movies_for_review.map { |obj| [obj[:Title], obj[:id]] }), prompt: "Select a Movie" %>
  
  <br><br><%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Submit Review" %>

<% end %>
<% end %>


