<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> must be corrected before your review can be saved:</h2>

    <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="review_new_page">
<h2>Create a New Review for one of your Movies</h2>
</div>
<br>

<%= form_with model: @review, url: movie_reviews_path(:movie), method: 'post' do |f| %>
  <h2><%= f.label "Pick from your current list of movies:" %></h2>
  <%= f.collection_select :movie_id, movies_by_user, :id, :Title, prompt: "Choose a Movie."  %>
  <br><br><%= f.label :rating, "★ Star" %>
  <%= f.radio_button :rating, 1 %>&emsp;
  <%= f.label :rating, "★★ Stars" %>
  <%= f.radio_button :rating, 2 %>&emsp;
  <%= f.label :rating, "★★★ Stars" %>
  <%= f.radio_button :rating, 3 %>&emsp;
  <%= f.label :rating, "★★★★ Stars" %>
  <%= f.radio_button :rating, 4 %>&emsp;
  <%= f.label :rating, "★★★★★ Stars" %>
  <%= f.radio_button :rating, 5 %><br><br>
  <%= f.label :description, "Description:" %><br><br>
  <%= f.text_field :description %><br><br>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Submit Review" %>
<% end %>