<!DOCTYPE html>
<html>
  <head>
    <title>DisneyMovieWatchlistRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <div id="header_images">
  <%= image_tag("film_reel.jfif", alt: "film_reel") %>
  <a href="http://cliparts.co/clipart/2362985" target="_blank" title="Image from cliparts.co"><img src="http://cliparts.co/cliparts/6Ty/Xxr/6TyXxrb8c.jpg" width="100" alt="Mickey mouse clip art 2014 | Clipart Panda - Free Clipart Images" /></a>
  <%= image_tag("film_reel.jfif", alt: "film_reel") %>
  </div>
  <h1 class="header">Disney Movie Watchlist</h1>
  <br>

  <div class="topnav">
  <% if !logged_in? %>
  <%= link_to "Home", root_path %>
  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Login", login_path %>
  <% else %>
  <%= link_to "Home", root_path %>
  <%= link_to "Search Movies", movies_path %>
  <%= link_to "Watchlists", user_watchlists_path(current_user.id) %>
  <%= link_to "Reviews", user_reviews_path(current_user.id) %>
    <% if current_user.uid.blank? %>
      <%= link_to "Logout", logout_path, method: 'delete', style: 'float: right' %>
      <%= link_to "Edit My Info", edit_user_path(current_user.id), style: 'float: right' %>
    <% else %>
      <%= link_to "Logout", logout_path, method: 'delete', style: 'float: right' %>
      <%= link_to "Delete Account", user_path(current_user), method: 'delete', style: 'float: right', data: {confirm: "Are you sure you want to delete your account #{users_name}?"} %>
    <% end %>
  <% end %>
  </div>
  <br><br>

  <% if flash.notice %>
    <% flash.each do |type, msg| %>
      <div class="flash">
        <%= msg %>
      </div>
      <% flash.delete :notice %>
    <% end %>
    <br>
  <% end %>

  <span class="content">
    <%= yield %>
  </span>

  <br><br>
  <footer class="footer">
    <small>&copy; 2021 <strong>DisneyMovieWatchlist made with &#9829 by Blaire Grant</strong></small>
  </footer>

  </body>
</html>
